<ul class = "content" >

<%= button_to "Got a question? Make one", new_question_path, {method: "get"} %>

<% @questions.each do |q| %>
  <li class = "question-header"><%= q.total_points %> | <%= link_to q.title, question_path(q) %></li>
  <ul>
  <li class = "question-content"><%= q.body %></li>
  </ul>
<% end %>
</ul>
