<ul class = "content" >

<% @questions.each do |q| %>
  <li class = "question-header"><%= q.total_points %> | <%= link_to q.title, question_path(q) %></li>
  <ul>
  <li class = "question-content"><%= q.body %></li>
  </ul>
<% end %>

<div class = "button"> <%=button_to "Got a question? Shaq away!", new_question_path, {method: "get"} %></div>


</ul>


