<div class="header-unit">
<div id="video-container">
<video id ="vid-div" controls autoplay loop class="fillWidth">
<source data-src="imgs/shaq.mp4" type="video/mp4"/>
<source data-src="imgs/shaq.ogv" type="video/ogv"/>
<source data-src="imgs/shaq.webm" type="video/webm"/>
Your browser does not support the video tag. I suggest you upgrade your browser.
</video>
</div><!-- end video-container -->
</div><!-- end .header-unit -->

<%= render 'question' %>
