<h2> Recently Active Questions </h2>
<ul>
<% @questions.each do |question|%>
   <li><%= link_to question.title, question_path(question) %></li>
   <ul>
  <li>Last answered by <%= question.last_respondent %> on <%= question.updated_at %></li>
   </ul>
<% end %>
</ul>

