<ul class = "content">
  <h2> Recently Active Questions </h2>
  <% @questions.each do |question|%>
    <li class = "question-header"><%= link_to question.title, question_path(question) %></li>
    <li class="username">asked by: <%= link_to question.user.username, user_path(question.user) %></li>
  <li>Last answered by <%#= question.last_respondent %> on <%#= question.updated_at %></li>
<% end %>
</ul>

