<div class="content">
  <h4 class="tag-intro">A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</h4>
<h4 class="tag-intro">Clicking a tag will bring you to a page with all the posts under that tag.</h4>
<% if searched? %>
  <h3 class="tag-intro">Search Results:</h3> 
  <% @tags.each do |tag|%>
    <% tag.questions.each do |question| %>
      <h4 class="tag-intro"><%= link_to question.title, question_path(question) %></h4>
      <h4 class="tag-intro"><%= question.body %></h4>
      <span class="tag-link">Tags:<% question.tags.each do |tag| %>
        <%= link_to tag.description, tag_path(tag)%></span>
    <% end %>
    <% end %>
  <% end %>
<% else %>
  <% @tags.each do |tag| %>
    <ul class="tag-link"> <%= link_to tag.description, tag_path(tag), :class => "tag-link" %></ul>
  <% end %>
<% end %>
</div>
